body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #d8d7d8;
    background-image: linear-gradient(#150025, #310156);
}
header {
    text-align: center;
    font-weight: bold;
    font-size: 2em;
}
ul {
    font-style: none;
}
#logo {
    align-content: center;
    margin-top: 1em;
}
footer {
    background-color: #150025;
    color: #ffffff;
    width: 100%;
    min-height: 80px;
    text-align: center;
   
    
    
}
a:link {
    text-decoration: none;
    color: #ffffff;
}
a:hover { 
    color: #a3620a;
  }
a:visited {
    color: #ffffff;
}
a:active {
    color: #a3620a;
}
section {
    width: 70%;
    margin: auto;
    clear: none;    
}
article {
    clear: none;
    min-height: 500px;
}
aside h3 {
    font-size: 1.05em;
    color: #a3620a
}
h1 {
    font-size: 1.5em;
    color: #a3620a
}
.leftnav{
    float: left;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    width: 14%;
    font-size: 1.2em;
    line-height: 2.25em;
    list-style-image: url('images/skullbullet.png');
 }
#orangebike {
    margin-bottom: 0.5em;
    margin-left: 1em;
    opacity: 95%;
    border-radius: 5%;
    box-shadow: #000000 4px 4px;
}
#skull1 {
    float: left;
    vertical-align: top;
}
#skull2 {
    float: right;
    vertical-align: top;
}
#facebook {
    height: 30px;
    vertical-align: middle;
}
#twitter {
    height: 30px;
    vertical-align: middle;
}
#featured {
    float: right;
    align-content: center;
}
#featuredbikes {
    align-content: center;
    margin-left: 2em;
}
#bottom {
    vertical-align: middle;
    margin-top: 0.5em;
}
#smallphotos {
    border-radius: 5%;
    box-shadow: #000000 3px 3px;
    margin-left: 3em;
}
#smllphts {
    align-content: center;
}
#smallad {

    width: 150px;
    border-radius: 5%;
    box-shadow: #000000 3px 3px;
}

